<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.lucidna.lucid">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <service
            android:name=".StartupService"
            android:exported="false" />
        <service
            android:name=".GCMService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <activity
            android:name=".WebView"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity
            android:name=".HomeActivity"
            android:label="Lucid "
            android:launchMode="singleTop"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LibraryActivity"
            android:label="@string/title_activity_library"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArticleView"
            android:label="@string/title_activity_article_view"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.lucidna.lucid.HomeActivity" />
        </activity>
        <!--
        activity
            android:name=".Preferences"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.lucidna.lucid.HomeActivity" />
        </activity
        -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.lucidna.lucid.HomeActivity" />
        </activity>
        <activity
            android:name=".PrefsScreen"
            android:label="@string/title_activity_prefs_screen"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Platform.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.lucidna.lucid.HomeActivity" />
        </activity>
        <activity
            android:name=".NewsZoom"
            android:label="@string/title_activity_news_zoom"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.lucidna.lucid.HomeActivity" />
        </activity>

        <activity
            android:name=".CategoriesScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.lucidna.lucid.HomeActivity" />
        </activity>
    </application>

</manifest>